<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="row top-row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-text">Latest News</p>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="saved">Saved Articles<span class="sr-only">(current)</span></a></li>
                    </ul>
                    <a href="/scrape"><button type="button" class="btn btn-default navbar-btn">Scrape New Articles</button></a>
                </div>
            </div>
        </nav>
	</div>
	<div class="row middle-row">
        <div class="jumbotron">
            <div class="container">
                <h1>Latest News</h1>
                <h3>NPR Edition</h3>
            </div>
        </div>
	</div>
	<div class="row bottom-row">
        {{#each articles}}
            {{#if this.saved}} 
                <div class="articles">
                <div class="title"> {{this.title}}</div> 			        
                    <form action="/update/{{this.title}}?_method=PUT" method="post">
                        <input name="saved" type="hidden" value="true"> <button class="saved-button" type="submit">Save Article!</button>
                    </form>
                    <div class="link">{{this.link}}</div>
                </div>
            {{/if}}
        {{/each}}
	</div>
</body>
</html>